

Welcome to Hangman
<br>
<br>
Your word is: <%= secret_word %>
<br>
Please enter a letter:
	<form method="post" action="letter_choice">
    <input type="text" name="letter">
	<br>
	<br>
<input type="submit">
</form>

