<head>
<link href="/css/main.css" rel="stylesheet">
<title>
Hangman
</title>
</head>
<body>
    <div class = "new_river">   
        <%=yield%>
    </div>
</body>
<footer>
    <div class="new_river"> 
        Program created by Lisa Bowles
        <br>
        New River Community and Technical College
    </div>
</footer>